@page "/admin/room/booking/list"
@using MotelManagement.Data.Models
@model MotelManagement.Pages.admin.ListBookingModel
@{
}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <div class="mt-5">
                @if (Model.bookings != null && Model.bookings.Count > 0)
                {
                    <h4 class="card-title float-left mt-2">Danh Sách Booking: <span style="color : red">@Model.bookings.ElementAt(0).Room.Name</span></h4>
                    <form method="post" asp-page-handler="AllUser" class="float-right">
                        <td><input type="datetime-local" name="meetingdate" /></td>
                        <td><input hidden="hidden" type="text" name="roomId" value="@Model.bookings.ElementAt(0).Room.RoomId" /></td>
                        <td><button class="btn btn-success veiwbutton ">Hẹn Tất Cả User</button></td>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
@if ((bool)ViewData["isRoomRented"] == true)
{
    <h3 class = "align-items-center" style="color : red">Phòng đang có người thuê - không có danh sách booking</h3>
}
<div class="row">
    <div class="col-lg-12">
        <form action = "/admin/room/booking/list" method = "Get">
            <input type ="hidden" name = "roomId" value = "@ViewData["roomId"]"/>
            <div class="row formtype">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tên Người Booking</label>
                        <input class="form-control" name = "nameBooking" type="text" value="@ViewData["nameBooking"]" placeholder = "Search Theo Tên" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" name = "emailBooking" type="text" value="@ViewData["emailBooking"]" placeholder = "Search Theo Email" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control" name = "phoneBooking" type="text" value="@ViewData["phoneBooking"]" placeholder = "Search Theo Phone" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>From Date Booking</label>
                        <div class="cal-icon">
                            <input type="text" name = "fromBooking" value = "@ViewData["fromBooking"]" class="form-control datetimepicker">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>To Date Booking</label>
                        <div class="cal-icon">
                            <input type="text" name = "toBooking" value = "@ViewData["toBooking"]" class="form-control datetimepicker">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Search</label>
                        <button class = "btn btn-info m-t-0 btn-block search_button"> Search </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body booking_card">
                <div class="table-responsive">
                    <table class="table table-stripped table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Người Booking</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Booking Time</th>
                                <th>Meeting Date</th>
                                <th>Xác nhận cho thuê</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.bookings != null)
                            {
                                @foreach (Booking booking in Model.bookings)
                                {
                                    <tr>
                                        <td>@booking.User.FullName</td>
                                        <td>@booking.User.Email</td>
                                        <td>@booking.User.Phone</td>
                                        <td>@booking.BookingTime</td>
                                        <td><input onchange="ChangeTimeMeeting(this.value ,@booking.BookingId,@booking.RoomId)" type="datetime-local" name="meetingdate" value="@booking.MeetingDate?.ToString("yyyy-MM-ddTHH:mm")" /></td>
                                        <td><a href="/admin/room/booking/list?handler=SetMemberToRoom&roomId=@booking.RoomId&userId=@booking.UserId&price=@booking.Room.Price&bookingId=@booking.BookingId" id="SetMemberToRoom" class="btn btn-success veiwbutton ">Đồng ý</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script>
       function ChangeTimeMeeting(meetingDate, bookingId, roomId){
            console.log("a");
            window.location.href = "/admin/room/booking/list?handler=ChangeMeeting&meetingDate="+meetingDate+"&bookingId="+bookingId+"&roomId="+roomId;
       }

       if(document.querySelector("#SetMemberToRoom")!=null){
        [document.querySelector("#SetMemberToRoom")].forEach(
        (item) => {
            item.addEventListener("click", (event) => {
                event.preventDefault();
                swal({
                    title: "Cho người này thuê phòng?",
                    text: "Tất cả booking sẽ bị hủy nếu đã có người thuê phòng!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        window.location.href = item.href;
                    }
                });
            })
        }
    )
    }

        @{
            if (TempData["Message"] != null)
            {
                if (TempData["Message"].Equals("Success"))
                {
                            <text>
                                swal({
                                    title: "Cập nhật thành công!",
                                    text: "",
                                    icon: "success",
                                    buttons: false
                                });
                            </text>
                }
                else if(TempData["Message"].Equals("Probs"))
                {
                            <text>
                                swal({
                                    title: "Cập nhật thất bại!",
                                    text: "Opps! Đã có lỗi xảy ra!",
                                    icon: "warning",
                                    buttons: false
                                })
                            </text>
               }else if(TempData["Message"].Equals("Registered"))
               {
                            <text>
                                swal({
                                    title: "Cập nhật thất bại!",
                                    text: "Phòng này bạn đã đăng kí",
                                    icon: "warning",
                                    buttons: false
                                })
                            </text>
               }
        }
    }
</script>
}