@page "/room/detail"
@using MotelManagement.Common
@using MotelManagement.Data.Models
@model MotelManagement.Pages.DetailRoomModel
@inject IHttpContextAccessor Accessor

@{
    Room room = (Room)ViewData["room"];
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Super nice villa </h1>
            </div>
        </div>
    </div>
</div>
<!-- End page header -->
<!-- property area -->
<div class="content-area single-property" style="background-color: #FCFCFC;">
    &nbsp;
    <div class="container">
        <div class="clearfix padding-top-40">
            <div class="col-md-8 single-property-content prp-style-1 ">
                <div class="row">
                    <div class="light-slide-item">
                        <div class="clearfix">
                            <div class="favorite-and-print">
                                <a class="add-to-fav" href="#login-modal" data-toggle="modal">
                                    <i class="fa fa-star-o"></i>
                                </a>
                                <a class="printer-icon " href="javascript:window.print()">
                                    <i class="fa fa-print"></i>
                                </a>
                            </div>
                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                @foreach (Image image in ((Room)@ViewData["room"]).Images)
                                {
                                    <li data-thumb="/upload/@image.Url">
                                        <img src="~/upload/@image.Url" />
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                @if (@Accessor.HttpContext.Session.GetString("user") != null)
                {
                    User user = (User)JsonUtil.DeserializeObject<User>(Accessor.HttpContext.Session.GetString("user"));
                    @*Còn Trống*@
                    @if (room.StatusId == ((List<Status>)@ViewData["statusList"])[1].StatusId)
                    {
                        if(Model.isShowBooking(room, user.UserId))
                        {
                           <div class="text-center" style="margin-bottom : 40px; margin-top : -45px">
                             <button class="btn btn-success" onclick = "Booking(@room.RoomId)">Đặt Phòng</button>
                           </div>                     
                        }else if (Model.isShowCancelBooking(room, user.UserId))
                        {
                           <div class="text-center" style="margin-bottom : 40px; margin-top : -45px">
                             <button class="btn btn-success" onclick = "CancelBooking(@room.RoomId)">Hủy Đặt Phòng</button>
                           </div>                          
                        }
                    }
                    @*Cần Pass*@
                    @if (room.StatusId == ((List<Status>)@ViewData["statusList"])[2].StatusId)
                    {
                        <div class="text-center" style="margin-bottom : 40px; margin-top : -45px">
                            <button class="btn btn-success">Đặt Phòng</button>
                        </div>
                    }
                }
                <div class="single-property-wrapper">
                    <div class="single-property-header">
                        <h1 class="property-title pull-left">TRỌ XANH LÁ - @room.Name </h1>
                        <span class="property-price pull-right">@room.Price.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) VNĐ </span>
                    </div>

                    <!-- .property-meta -->

                    <div class="section">
                        <h4 class="s-property-title">Mô Tả</h4>
                        <div class="s-property-content">
                            <p>@room.Description</p>
                        </div>
                    </div>
                    <!-- End description area  -->

                    <div class="section additional-details">

                        <h4 class="s-property-title">Additional Details</h4>

                        <ul class="additional-details-list clearfix">
                            <li>
                                <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Tình Trạng</span>
                                @if (room.StatusId == ((List<Status>)@ViewData["statusList"])[0].StatusId)
                                {
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry" style = "font-weight:bold" >Đã có người  thuê</span>
                                }
                                @if (room.StatusId == ((List<Status>)@ViewData["statusList"])[1].StatusId)
                                {
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry" style = "font-weight:bold" >Còn Trống</span>
                                }
                                @if (room.StatusId == ((List<Status>)@ViewData["statusList"])[2].StatusId)
                                {
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry" style = "font-weight:bold">Cần Pass</span>
                                }
                            </li>
                            <li>
                                <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Xây dựng vào năm</span>
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">2020</span>
                            </li>
                            <li>
                                <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Địa chỉ</span>
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">Cách trường đại học FPT 1km, Thôn 8 Thạch Hòa, Thạch Thất, Hà Nội </span>
                            </li>

                            <li>
                                <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Tối đa</span>
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@room.MaxPerson Người</span>
                            </li>
                        </ul>
                    </div>
                    <!-- End additional-details area  -->

                    <div class="section property-video">
                        <h4 class="s-property-title">Property Video</h4>
                        <div class="video-thumb">
                            <a class="video-popup" href="yout" title="Virtual Tour">
                                <img src="~/Assets/User/assets/img/property-video.jpg" class="img-responsive wp-post-image" alt="Exterior">
                            </a>
                        </div>
                    </div>
                    <!-- End video area  -->



                    <div class="section property-share">
                        <h4 class="s-property-title">Share width your friends </h4>
                        <div class="roperty-social">
                            <ul>
                                <li><a title="Share this on dribbble " href="#"><img src="~/Assets/User/assets/img/social_big/dribbble_grey.png"></a></li>
                                <li><a title="Share this on facebok " href="#"><img src="~/Assets/User/assets/img/social_big/facebook_grey.png"></a></li>
                                <li><a title="Share this on delicious " href="#"><img src="~/Assets/User/assets/img/social_big/delicious_grey.png"></a></li>
                                <li><a title="Share this on tumblr " href="#"><img src="~/Assets/User/assets/img/social_big/tumblr_grey.png"></a></li>
                                <li><a title="Share this on digg " href="#"><img src="~/Assets/User/assets/img/social_big/digg_grey.png"></a></li>
                                <li><a title="Share this on twitter " href="#"><img src="~/Assets/User/assets/img/social_big/twitter_grey.png"></a></li>
                                <li><a title="Share this on linkedin " href="#"><img src="~/Assets/User/assets/img/social_big/linkedin_grey.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End video area  -->

                </div>
            </div>


            <div class="col-md-4 p0">
                <aside class="sidebar sidebar-property blog-asside-right">
                    <div class="dealer-widget">
                        <div class="dealer-content">
                            <div class="inner-wrapper">

                                <div class="clear">
                                    <div class="col-xs-4 col-sm-4 dealer-face">
                                        <a href="">
                                            <img src="~/Assets/User/assets/img/client-face1.png" class="img-circle">
                                        </a>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 ">
                                        <h3 class="dealer-name">
                                            <a href="">Ông Mr Trọ</a>
                                        </h3>
                                        <div class="dealer-social-media">
                                            <a class="twitter" target="_blank" href="">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="facebook" target="_blank" href="">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="gplus" target="_blank" href="">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="linkedin" target="_blank" href="">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                            <a class="instagram" target="_blank" href="">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <div class="clear">
                                    <ul class="dealer-contacts">
                                        <li><i class="pe-7s-map-marker strong"> </i> Thạch Hòa, Thạch Thất, Hà Nội</li>
                                        <li><i class="pe-7s-mail strong"> </i> troxanhla@gmail.com</li>
                                        <li><i class="pe-7s-call strong"> </i> +84 374738192</li>
                                    </ul>
                                    <p>Không thuê nữa thì pass, không muốn pass thì mất cọc…</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default sidebar-menu similar-property-wdg wow fadeInRight animated">
                        <div class="panel-heading">
                            <h3 class="panel-title">Similar Properties</h3>
                        </div>
                        <div class="panel-body recent-property-widget">
                            <ul>
                                @foreach (Room roomSimilar in (List<Room>)@ViewData["roomsSimilar"])
                                {
                                    <li>
                                        <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                            <a href="single.html"><img src="~/Assets/User/assets/img/demo/property-2.jpg"></a>
                                            <span class="property-seeker">
                                                <b class="b-1">A</b>
                                                <b class="b-2">S</b>
                                            </span>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                            <h6> <a href="single.html">@roomSimilar.Name </a></h6>
                                            <span class="property-price">@roomSimilar.Price.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) VNĐ</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                        <div class="panel-heading">
                            <h3 class="panel-title">Smart search</h3>
                        </div>
                        <div class="panel-body search-widget">
                            <form action="../../Room/List" method="GET" class=" form-inline">
                                @*Search tên phòng*@
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input type="text" class="form-control" name="nameRoom" value="@ViewData["nameRoom"]" placeholder="Key word">
                                        </div>
                                    </div>
                                </fieldset>
                                @*Loại Phòng và trạng thái phòng*@
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-6">

                                            <select name="roomTypeId" id="lunchBegins" class="selectpicker show-tick form-control">
                                                <option value=""> -Loại Phòng- </option>
                                                @foreach (RoomType roomType in (List<RoomType>)@ViewData["roomTypes"])
                                                {
                                                    if (roomType.RoomTypeId == Convert.ToInt32(ViewData["roomTypeId"]))
                                                    {
                                                        <option selected="selected" value="@roomType.RoomTypeId">@roomType.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@roomType.RoomTypeId">@roomType.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <select name="status" id="basic" class="selectpicker show-tick form-control">
                                                <option value=""> -Status- </option>
                                                @foreach (Status status in (List<Status>)@ViewData["statusList"])
                                                {
                                                    if (status.StatusId == Convert.ToInt32(ViewData["status"]))
                                                    {
                                                        <option selected="selected" value="@status.StatusId">@status.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@status.StatusId">@status.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="padding-5">
                                    <div class="row">
                                        @*Price range*@
                                        <div class="col-xs-6">
                                            <label for="price-range">Giá (đồng):</label>
                                            @if (ViewData["price"] == null)
                                            {
                                                <input type="text" class="span2" value="" data-slider-min="1000000"
                                                   name="price" data-slider-max="3000000" data-slider-step="5"
                                                   data-slider-value="[1000000,3000000]" id="price-range">

                                                <br />
                                                <b class="pull-left color">1 triệu</b>
                                                <b class="pull-right color">3 triệu</b>
                                            }
                                            else
                                            {
                                                <input type="text" class="span2" value="" data-slider-min="1000000"
                                                   name="price" data-slider-max="3000000" data-slider-step="5"
                                                   data-slider-value="[@ViewData["price"]]" id="price-range">

                                                <br />
                                                <b class="pull-left color">1 triệu</b>
                                                <b class="pull-right color">3 triệu</b>
                                            }
                                        </div>
                                        @*Price range*@
                                        <div class="col-xs-6">
                                            <label for="property-geo">Số lượng người ở</label>
                                            @if (ViewData["sizePerson"] == null)
                                            {
                                                <input type="text" name="sizePerson" class="span2" value="" data-slider-min="1"
                                                   data-slider-max="4" data-slider-step="1"
                                                   data-slider-value="[1,4]" id="property-geo">

                                                <br />
                                            }
                                            else
                                            {
                                                <input type="text" name="sizePerson" class="span2" value="" data-slider-min="1"
                                                   data-slider-max="4" data-slider-step="1"
                                                   data-slider-value="[@ViewData["sizePerson"]]" id="property-geo">

                                                <br />
                                            }
                                            <b class="pull-left color">1 Người</b>
                                            <b class="pull-right color">4 Người</b>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="button btn largesearch-btn" value="Search" type="submit">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                </aside>
            </div>
        </div>

    </div>
</div>
@section Scripts{
<script>
    $(document).ready(function () {

        $('#image-gallery').lightSlider({
            gallery: true,
            item: 1,
            thumbItem: 9,
            slideMargin: 0,
            speed: 500,
            auto: true,
            loop: true,
            onSliderLoad: function () {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });
    });

     // Đặt phòng
        function Booking(roomId){
             swal({
                    title: "Are you sure?",
                    text: "Bạn chắc chắn muốn đăng kí phòng này?",
                    icon: "info",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willBooking) => {
                    if (willBooking) {
                        window.location.href = "/user/mylistroom?handler=Register&roomid="+roomId;
                    }
                });
        }
        // Hủy Phòng 
        function CancelBooking(roomId){
             swal({
                    title: "Are you sure?",
                    text: "Bạn chắc chắn muốn hủy đăng kí phòng này?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willBooking) => {
                    if (willBooking) {
                        window.location.href = "/user/mylistroom?handler=UnRegister&roomid="+roomId;
                    }
                });
        }
        // Booking Phòng 
        // Hủy Booking Phòng 
</script>
}