@page "/user/manageroom"
@model MotelManagement.Pages.MyRoomModel
@using MotelManagement.Common;
@using MotelManagement.Data.Models;
@using System;
@{
    List<Bill> listBills = (List<Bill>)ViewData["listUnPaidBills"];
}
<link rel="stylesheet" href="~/Assets/Admin/css/zoomimage.css">

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Quản lý phòng</h1>
            </div>
        </div>
    </div>
</div>
<!-- End page header -->
<!-- property area -->
<div class="content-area single-property" style="background-color: #FFF;">
    &nbsp;
    <div class="container">

        <div class="clearfix padding-top-40">
            <div class="col-md-12 single-property-content">
                <div class="row">
                    <div class="light-slide-item full-width-sld">
                        <div class="clearfix">
                            <div class="favorite-and-print">
                                <a class="add-to-fav" href="#login-modal" data-toggle="modal">
                                    <i class="fa fa-star-o"></i>
                                </a>
                                <a class="printer-icon " href="javascript:window.print()">
                                    <i class="fa fa-print"></i>
                                </a>
                            </div>

                            <ul id="fullWidth-gallery" class="gallery list-unstyled cS-hidden">
                                <li data-thumb="assets/img/property-1/property1.jpg">
                                    <img src="assets/img/property-1/property1.jpg" />
                                </li>
                                <li data-thumb="assets/img/property-1/property2.jpg">
                                    <img src="assets/img/property-1/property3.jpg" />
                                </li>
                                <li data-thumb="assets/img/property-1/property3.jpg">
                                    <img src="assets/img/property-1/property3.jpg" />
                                </li>
                                <li data-thumb="assets/img/property-1/property4.jpg">
                                    <img src="assets/img/property-1/property4.jpg" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-property-wrapper">
                <div class="single-property-header">
                    <h1 class="property-title pull-left">Phòng số: 101</h1>
                </div>

                <div class="property-meta entry-meta clearfix ">
                    <h4 class="s-property-title">Quản lý</h4>
                    <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                        <span class="property-info-icon icon-tag">
                            <i class="fa-regular fa-money-bill-1" data-toggle="modal" data-target="#bill"
                               role="button" style="font-size:24px"></i>
                        </span>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel" aria-hidden="true" id="bill">
                            <div class="modal-dialog modal-lg" style="width:960px">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel"
                                            style="display: inline-block;">
                                            Hóa đơn
                                        </h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" style="font-size: 32px;">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="color: black; padding:0px; text-align:center;">
                                        @{
                                            if (listBills != null)
                                            {
                                                foreach (Bill bill in listBills)
                                                { 
                                                    <form style="display: flex; flex-direction: column;" enctype="multipart/form-data" id="bill-form" method="post" asp-page-handler="SubmitBill">
                                                    <input hidden value="@ViewData["roomId"]" name="roomId">
                                                        <div>
                                                            <table class="table" style="text-align:center;">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">#</th>
                                                                        <th scope="col">Tiền phòng</th>
                                                                        <th scope="col">Tiền điện</th>
                                                                        <th scope="col">Tiền nước</th>
                                                                        <th scope="col">Tiền dịch vụ</th>
                                                                        <th scope="col">Còn nợ</th>
                                                                        <th scope="col">Trạng thái</th>
                                                                        <th scope="col">Cần thanh toán</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row">1</th>
                                                                        <td>@bill.RoomBill.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) VNĐ</td>
                                                                        <td>@bill.ElectricBill.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) VNĐ</td>
                                                                        <td>@bill.WaterBill.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) VNĐ</td>
                                                                        <td>@bill.ServiceBill.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) VNĐ</td>s
                                                                        <td>@bill.Debt</td>
                                                                        <td>@Model.GetBillState(bill.BillState)</td>
                                                                        <td>@Model.GetTotalBill(bill.RoomBill, bill.WaterBill, bill.ElectricBill).ToString("N0", new System.Globalization.CultureInfo("vi-VN")) VNĐ</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                                <div class="form-row">
                                                                    <div class="form-group col-md-4">
                                                                        <input name="bankingImages" type="file" class="custom-file-input-upload" id="customFile">
                                                                        <div class="gallery_cus">
                                                                            <img class="preview-image" style="display:block; margin:auto; width:100px">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-8">
                                                                        <label for="message-text" class="col-form-label">Message:</label>
                                                                        <textarea class="form-control" id="message-text" rows="7" name="descriptions"></textarea>
                                                                    </div>
                                                                    <input name="billIds" value="@bill.BillId" hidden id="customFile">
                                                                </div>
                                                        </div>
                                                        <hr>
                                                    </form>
                                                }
                                            }
                                            else
                                            {
                                                <h1>Không có hóa đơn!</h1>
                                            }
                                        }

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="submit-bill"
                                                data-dismiss="modal">
                                            Thanh toán
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="property-info-entry">
                            <span class="property-info-label">Hóa đơn</span>
                        </span>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                        <span class="property-info icon-area">
                            <i class="fa-solid fa-clock-rotate-left" data-toggle="modal"
                               data-target="#billhistory" role="button" style="font-size:24px"></i>

                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                 aria-labelledby="myLargeModalLabel" aria-hidden="true" id="billhistory">
                                <div class="modal-dialog modal-lg" style="width: 960px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="exampleModalLabel"
                                                style="display: inline-block;">
                                                Lịch sử thanh toán
                                            </h3>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true" style="font-size: 32px;">×</span>
                                            </button>


                                            <form style="display: flex; flex-direction: column;">

                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <label for="paidTimeFrom">Ngày thanh toán từ</label>
                                                        <input type="date" class="form-control" name="paidTimeFrom" id="paidTimeFrom">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="paidTimeTo">Ngày thanh toán đến</label>
                                                        <input type="date" class="form-control" name="paidTimeTo" id="paidTimeTo">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="isDept">Trạng thái</label>
                                                        <select name="isDept" class="form-control" id="isDept">
                                                            <option value="@((Int32)DEFAULT_VALUE.PAYMENT_STATE)">--Trạng thái--</option>
                                                            <option value="@((Int32)PAYMENT_STATE.PAID)">Đã nộp</option>
                                                            <option value="@((Int32)PAYMENT_STATE.UNPAID)">Chưa nộp</option>
                                                            <option value="@((Int32)PAYMENT_STATE.DEBT)">Còn nợ</option>
                                                            <option value="@((Int32)PAYMENT_STATE.NOT_CONFIRM)">Chưa xác nhận</option>
                                                        </select>
                                                    </div>
                                                </div>


                                                <div form-row>
                                                    <div class="form-group col-md-4">
                                                        <label for="confirmDateFrom">Ngày xác nhận từ</label>
                                                        <input type="date" class="form-control" name="confirmDateFrom" id="confirmDateFrom">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="confirmDateTo">Ngày xác nhận đến</label>
                                                        <input type="date" class="form-control" name="confirmDateTo" id="confirmDateTo">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="onwer">Người nộp</label>
                                                        <select class="form-control" name="onwer" id="owner">
                                                            <option value="@((Int32)DEFAULT_VALUE.USER_SELECT)">--Người nộp--</option>
                                                            <option value="1">Nguyen The Vinh</option>
                                                            <option value="2">Nguyen Tuan Thanh</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <button id="search" class="btn btn-primary" style="align-self:center">Tìm kiếm</button>
                                            </form>
                                        </div>
                                        <div class="modal-body" style="color: black; padding:0px; text-align:center;">
                                            <table class="table" style="text-align:center;">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Người nộp</th>
                                                        <th scope="col">Tiền phòng</th>
                                                        <th scope="col">Tiền điện</th>
                                                        <th scope="col">Tiền nước</th>
                                                        <th scope="col">Tiền dịch vụ</th>
                                                        <th scope="col">Còn nợ</th>
                                                        <th scope="col">Ngày thanh toán</th>
                                                        <th scope="col">Ngày xác nhận</th>
                                                        <th scope="col">Trạng thái</th>
                                                        <th scope="col">Ảnh</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="data-container">
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer" style="display: flex; justify-content: flex-end;">
                                            <div id="demo" class="pagination"></div>
                                            <button type="button" class="btn btn-primary"
                                                    data-dismiss="modal"
                                                    style="height: fit-content;align-self: center;">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                        <span class="property-info-entry">
                            <span class="property-info-label">Lịch sử</span>
                        </span>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                        <span class="property-info-icon icon-bed">
                            <i class="fa-regular fa-flag" style="font-size:24px"></i>
                        </span>
                        <span class="property-info-entry">
                            <span class="property-info-label">Báo cáo</span>
                        </span>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                        <span class="property-info-icon icon-bath">
                        <i class="fa-solid fa-street-view" data-toggle="modal"
                               data-target="#passroom" role="button" style="font-size:24px"></i>
                        </span>
                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel" aria-hidden="true" id="passroom">
                            <div class="modal-dialog modal-lg" style="width:360px">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel"
                                            style="display: inline-block;">
                                            Nhượng phòng 
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" style="font-size: 32px;">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="color: black; padding:0px; text-align:center;">
                                        <form style="display: flex; flex-direction: column;" id="form-pass" method="post" asp-page-handler="PassingRoom">
                                            <input hidden value="@ViewData["roomId"]" name="roomId">
                                                <div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            <label for="message-text" class="col-form-label">Gia hạn tới: @ViewData["roomId"]</label>
                                                            <input type="date" name="expectedDate" id="message-text">
                                                        </div>
                                                    </div>
                                                </div>
                                        </form>      
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="submit-pass"
                                                data-dismiss="modal">
                                            Nhượng phòng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="property-info-entry">
                            <span class="property-info-label">Nhượng phòng</span>
                        </span>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                        <span class="property-info-icon icon-garage">
                        <i class="fa-solid fa-file-signature" data-toggle="modal"
                               data-target="#extendcontract" role="button" style="font-size:24px"></i>
                        </span>
                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel" aria-hidden="true" id="extendcontract">
                            <div class="modal-dialog modal-lg" style="width:360px">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel"
                                            style="display: inline-block;">
                                            Gia hạn hợp đồng
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" style="font-size: 32px;">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="color: black; padding:0px; text-align:center;">
                                        <form style="display: flex; flex-direction: column;" id="form-extends" method="post" asp-page-handler="ExtendContract">
                                            <input hidden value="@ViewData["roomId"]" name="roomId">
                                                <div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            <label for="message-text" class="col-form-label">Gia hạn tới:</label>
                                                            <input type="date" name="expectedDate" id="message-text">
                                                        </div>
                                                    </div>
                                                </div>
                                        </form>      
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="submit-extends"
                                                data-dismiss="modal">
                                            Gia hạn
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="property-info-entry">
                            <span class="property-info-label">Gia hạn</span>
                        </span>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                        <span class="property-info-icon icon-garage">
                            <img src="assets/img/icon/shawer-orange.png">
                        </span>
                        <span class="property-info-entry">
                            <span class="property-info-label">Garages</span>
                        </span>
                    </div>


                </div>
                <!-- .property-meta -->

                <div class="section">
                    <h4 class="s-property-title">Mô tả</h4>
                    <div class="s-property-content">
                        <p>
                            Nulla quis dapibus nisl. Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse
                            ultricies commodo arcu nec pretium. Nullam sed arcu ultricies commodo arcu nec pretium.
                            Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu
                            nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies
                            commodo arcu nec pretium. Nullam sed arcu ultricies
                        </p>
                    </div>
                </div>
                <!-- End description area  -->

                <div class="section additional-details">

                    <h4 class="s-property-title">Additional Details</h4>

                    <ul class="additional-details-list clearfix">
                        <li>
                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Waterfront</span>
                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">Yes</span>
                        </li>

                        <li>
                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Built In</span>
                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">2003</span>
                        </li>
                        <li>
                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Parking</span>
                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">
                                2 Or More Spaces,Covered
                                Parking,Valet Parking
                            </span>
                        </li>

                        <li>
                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Waterfront</span>
                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">Yes</span>
                        </li>

                        <li>
                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">View</span>
                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">Intracoastal View,Direct ew</span>
                        </li>

                        <li>
                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Waterfront Description:</span>
                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">
                                Intracoastal Front,Ocean
                                Access
                            </span>
                        </li>

                    </ul>
                </div>
                <!-- End additional-details area  -->

                <div class="section property-features">

                    <h4 class="s-property-title">Features</h4>
                    <ul>
                        <li><a href="properties.html">Swimming Pool</a></li>
                        <li><a href="properties.html">3 Stories</a></li>
                        <li><a href="properties.html">Central Cooling</a></li>
                        <li><a href="properties.html">Jog Path 2</a></li>
                        <li><a href="properties.html">2 Lawn</a></li>
                        <li><a href="properties.html">Bike Path</a></li>
                    </ul>

                </div>
                <!-- End features area  -->

                <div class="section property-video">
                    <h4 class="s-property-title">Property Video</h4>
                    <div class="video-thumb">
                        <a class="video-popup" href="yout" title="Virtual Tour">
                            <img src="assets/img/property-video.jpg" class="img-responsive wp-post-image"
                                 alt="Exterior">
                        </a>
                    </div>
                </div>
                <!-- End video area  -->



                <div class="section property-share">
                    <h4 class="s-property-title">Share width your friends </h4>
                    <div class="roperty-social">
                        <ul>
                            <li>
                                <a title="Share this on dribbble " href="#">
                                    <img src="assets/img/social_big/dribbble_grey.png">
                                </a>
                            </li>
                            <li>
                                <a title="Share this on facebok " href="#">
                                    <img src="assets/img/social_big/facebook_grey.png">
                                </a>
                            </li>
                            <li>
                                <a title="Share this on delicious " href="#">
                                    <img src="assets/img/social_big/delicious_grey.png">
                                </a>
                            </li>
                            <li>
                                <a title="Share this on tumblr " href="#">
                                    <img src="assets/img/social_big/tumblr_grey.png">
                                </a>
                            </li>
                            <li>
                                <a title="Share this on digg " href="#">
                                    <img src="assets/img/social_big/digg_grey.png">
                                </a>
                            </li>
                            <li>
                                <a title="Share this on twitter " href="#">
                                    <img src="assets/img/social_big/twitter_grey.png">
                                </a>
                            </li>
                            <li>
                                <a title="Share this on linkedin " href="#">
                                    <img src="assets/img/social_big/linkedin_grey.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End video area  -->

            </div>

            <div class="similar-post-section padding-top-40">
                <div id="prop-smlr-slide_0">
                    <div class="box-two proerty-item">
                        <div class="item-thumb">
                            <a href="property-1.html"><img src="assets/img/similar/property-1.jpg"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="property-1.html"> Super nice villa </a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b> Area :</b> 120m </span>
                            <span class="proerty-price pull-right"> $ 300,000</span>
                        </div>
                    </div>
                    <div class="box-two proerty-item">
                        <div class="item-thumb">
                            <a href="property-1.html"><img src="assets/img/similar/property-2.jpg"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="property-1.html"> Super nice villa </a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b> Area :</b> 120m </span>
                            <span class="proerty-price pull-right"> $ 300,000</span>
                        </div>
                    </div>
                    <div class="box-two proerty-item">
                        <div class="item-thumb">
                            <a href="property-1.html"><img src="assets/img/similar/property-3.jpg"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="property-1.html"> Super nice villa </a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b> Area :</b> 120m </span>
                            <span class="proerty-price pull-right"> $ 300,000</span>
                        </div>
                    </div>
                    <div class="box-two proerty-item">
                        <div class="item-thumb">
                            <a href="property-1.html"><img src="assets/img/similar/property-1.jpg"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="property-1.html"> Super nice villa </a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b> Area :</b> 120m </span>
                            <span class="proerty-price pull-right"> $ 300,000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <script>
        function buildUrl(url) {
            var url = window.location.origin + window.location.pathname + "?handler=Bill&";
            var paidTimeFrom = $("#paidTimeFrom").val();;
            var paidTimeTo = $("#paidTimeTo").val();
            var confirmDateFrom = $("#confirmDateFrom").val();;
            var confirmDateTo = $("#confirmDateTo").val();
            var isDept = $("#isDept").val();
            var owner = $("#owner").val();
            url = url + `paidTimeFrom=${paidTimeFrom}&paidTimeTo=${paidTimeTo}&confirmDateFrom=${confirmDateFrom}&confirmDateTo=${confirmDateTo}&isDept=${isDept}&owner=${owner}&roomId=5`
            return url;
        }

        $(document).ready(function () {
            // click to load data bill history
            $("#search").click(function (event) {
                event.preventDefault();
                var url = buildUrl();
                console.log(url);
                loadData(url);
            });
            // load data for first time go to page
            loadData("http://localhost:5027/user/manageroom?handler=Bill&paidTimeFrom=&paidTimeTo=&confirmDateFrom=&confirmDateTo=&isDept=-2&owner=-1&roomId=7");
            //submit form bill
            $("#submit-bill").click(function (event) {
                $("#bill-form").submit();
            });
            //submit extends form
            $("#submit-extends").click(function (event) {
                $("#form-extends").submit();
            });
            //submit passing form
            $("#submit-pass").click(function (event) {
                $("#form-pass").submit();
            });
            // preview images
            previewImages();
        });

        function previewImages(){
            const img = $(".preview-image");
            console.log(img.length);
            $(".custom-file-input-upload").each(function (index, item) {
                item.addEventListener(("change"), () => {
                    const file = item.files;
                    img[index].src = URL.createObjectURL(file[0]);
                })
            })
        }

        function loadData(url) {
            var container = $('#demo');
            var data_container = $('.data-container');
            container.pagination({
                dataSource: url,
                totalNumberLocator: function (response) {
                    console.log(response);

                    return response.countBills;
                },
                locator: "listBills",
                pageSize: 3,
                formatNavigator: '<%= rangeStart %>-<%= rangeEnd %> of <%= totalNumber %> items',
                ajax: {
                    beforeSend: function () {
                        data_container.html('Loading data from server ...');
                    }
                },
                callback: function (response, pagination) {
                    var dataHtml='';
                    var pageStart = (pagination.pageNumber - 1) * pagination.pageSize;
                    var pageEnd = pageStart + pagination.pageSize;
                    var pageItems = response;
                    $.each(pageItems, function (index, item) {
                        if (item.billState == @((Int32)PAYMENT_STATE.PAID)){
                            dataHtml += '<tr class="paid">';
                        } else if (item.billState == @((Int32)PAYMENT_STATE.UNPAID)){
                            dataHtml += '<tr class="unpaid">';
                        } else if (item.billState == @((Int32)PAYMENT_STATE.DEBT)) {
                            dataHtml += '<tr class="dept">';
                        } else if (item.billState == @((Int32)PAYMENT_STATE.NOT_CONFIRM)) {
                            dataHtml += '<tr class="not-confirm">';
                        }
                        dataHtml += `   <th scope="row">${index}</th>
                                        <td>${item.userId}</td>
                                        <td>${item.roomBill}</td>
                                        <td>${item.electricBill}</td>
                                        <td>${item.waterBill}</td>
                                        <td>${item.serviceBill}</td>
                                        <td>${item.debt}</td>
                                        <td>${item.paidTime}</td>
                                        <td>${item.acceptTime}</td>`;
                        if (item.billState == @((Int32)PAYMENT_STATE.PAID)) {
                            dataHtml += '<td>Đã nộp</td>';
                        } else if (item.billState == @((Int32)PAYMENT_STATE.UNPAID)) {
                            dataHtml += '<td>Chưa nộp</td>';
                        } else if (item.billState == @((Int32)PAYMENT_STATE.DEBT)) {
                            dataHtml += '<td>Còn nợ</td>';
                        } else if (item.billState == @((Int32)PAYMENT_STATE.NOT_CONFIRM)) {
                            dataHtml += '<td>Chưa xác nhận</td>';
                        }
                        dataHtml +=
                         `<td>
                                <div class="gallery_cus" style="width: 50px;height: 80px">
                                                    <img src="/upload/${item.bankingImage}">
                                </div>
                         </td> </tr>`;
                    });
                    data_container.html(dataHtml);

                    const images = document.querySelectorAll('.gallery_cus img');
                    const overlay = document.createElement('div');
                    console.log(images.length);

                    function showImage(e) {
                        overlay.classList.add('overlay_cus');
                        overlay.innerHTML = `<img src="${this.src}" alt="${this.alt}">
                                                    <div class="close">&times;</div>`;
                        document.body.appendChild(overlay);
                    }

                    function hideImage() {
                        overlay.innerHTML = '';
                        overlay.classList.remove("overlay_cus");
                    }

                    images.forEach(image => {
                        image.addEventListener('click', showImage);
                    });

                    overlay.addEventListener('click', hideImage);
                }
            })
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#image-gallery').lightSlider({
                gallery: true,
                item: 1,
                thumbItem: 9,
                slideMargin: 0,
                speed: 500,
                auto: true,
                loop: true,
                onSliderLoad: function () {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
        });
    </script>

    <script type="text/javascript">
        @{
            if (TempData["Message"] != null)
            {
                if (TempData["Message"].Equals("Success"))
                {
                    <text>
                        swal({
                            title: "Thanh toán thành công!",
                            text: "Hãy chờ admin duyệt nhé!",
                            icon: "success",
                            buttons: false
                        });
                    </text>
                }
                else if(TempData["Message"].Equals("Failed"))
                {
                    <text>
                        swal({
                          title: "Thanh toán thất bại!",
                          text: "Opps! Đã có lỗi xảy ra!",
                          icon: "warning",
                          buttons: false
                        })
                    </text>
                }
                else if (TempData["Message"].Equals("ExtendsSucc"))
                {
                    <text>
                        swal({
                          title: "Gia hạn thành công!",
                          text: "Chúc mừng bạn đã gia hạn thành công!",
                          icon: "success",
                          buttons: false
                        })
                    </text>
                }else if (TempData["Message"].Equals("Error"))
                {
                    <text>
                        swal({
                          title: "Gia hạn thất bại!",
                          text: "Opps! Đã có lỗi xảy ra!",
                          icon: "warning",
                          buttons: false
                        })
                    </text>
                }
                TempData["Message"] = null;
            }
        }
    </script>

}